<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="AWS.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    
  </configSections>
  <connectionStrings>
    <add name="AWS.Properties.Settings.awsConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\aws.mdb" providerName="System.Data.OleDb"/>
    <add name="AWS.Properties.Settings.aws_20150512ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\aws_20150512.mdb" providerName="System.Data.OleDb"/>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <AWS.Properties.Settings>
      <setting name="AUTO" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PORTNAME" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="STOPBIT" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LOGGERID" serializeAs="String">
        <value>000001</value>
      </setting>
      <setting name="BAUDRATE" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="DATABIT" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="PARITYBIT" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PROTOCOL" serializeAs="String">
        <value>KMA2</value>
      </setting>
      <setting name="PASSWORD" serializeAs="String">
        <value>1111</value>
      </setting>
      <setting name="IP" serializeAs="String">
        <value>192.168.17.1</value>
      </setting>
      <setting name="PORT" serializeAs="String">
        <value>30000</value>
      </setting>
    </AWS.Properties.Settings>
    <AWS.Settings1>
      <setting name="AUTO" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PORTNAME" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="STOPBIT" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LOGGERID" serializeAs="String">
        <value>0000</value>
      </setting>
      <setting name="BAUDRATE" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="DATABIT" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="PARITYBIT" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PROTOCOL" serializeAs="String">
        <value>KMA2</value>
      </setting>
      <setting name="PASSWORD" serializeAs="String">
        <value>1111</value>
      </setting>
    </AWS.Settings1>
  </userSettings>


</configuration>
